li {
    list-style-type: none;
}


body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 10%, rgba(209, 209, 209, 1) 99%, rgba(255, 255, 255, 1) 100%);
}


.form-search{
    display: flex;
}

.btnc:hover{
    animation-name: pulse;
}
